%footer.row
  .twelve.columns
    %hr
    .row
      .six.columns
        %p
          &copy; 2013 Ben Clayman Inc,
          Est. 1892
      .six.columns
        %ul.link-list.right
          %li
            %a{:href => "http://twitter.com/BigBen379"}Twitter
          %li