.row
  .twelve.columns
    %ul.nav-bar
      %li.active
        %a
          = link_to "Home", root_path
      / %li
      /   %a
      /     = link_to "New User", #
      / %li
      /   %a
      /     = link_to "All Users", users_path